<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808793774900-mqkdc8h8vrle87lurjlo6ul864eh173n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808793774900-mqkdc8h8vrle87lurjlo6ul864eh173n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808793774900-ldeb9gd95vs3b2gofo241eobuejtjvsp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTt3w-Ov6gNby9qbWxyzSHPk5iO_wJhYo</string>
	<key>GCM_SENDER_ID</key>
	<string>808793774900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expanda</string>
	<key>PROJECT_ID</key>
	<string>base-app-6d46e</string>
	<key>STORAGE_BUCKET</key>
	<string>base-app-6d46e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808793774900:ios:2ce0272abb16d34371a361</string>
	<key>DATABASE_URL</key>
	<string>https://base-app-6d46e-default-rtdb.firebaseio.com</string>
</dict>
</plist>